body{
    background-color: black;
}
.heading{
    color: white;
}
.calculator {
    width: 300px;
    margin: 50px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #766a6a;
    box-shadow: 5px 5px 20px 5px rgba(11, 11, 11, 0.2);
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    font-size: 20px;
    flex: 0 0 calc(25% - 5px);
    margin-bottom: 5px;
}
#display:focus {
    border: 2px solid brown !important;
}
.btn{
    background-color: black !important;
    color: white !important;
    border: 2px brown solid;
}
.btn:hover{
    background-color: grey !important;
    color: whitesmoke !important;
    border: 2px black solid;
}